<!DOCTYPE html>
<html>
  <head>
    <title>Articles App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 mt-4">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6 col-md-8 mb-4">
            <small class="text-muted">Thiago Menezes ©<%= Date.today.year %></small>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
